img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: swiper-icons;
  font-style: normal;
  font-weight: 400;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
    format("woff");
}
:root {
  --swiper-theme-color: #007aff;
}
.swiper,
swiper-container {
  display: block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: ease;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  width: 100%;
  z-index: 1;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide,
swiper-slide {
  display: block;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
.swiper-backface-hidden .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-centered > .swiper-wrapper:before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  height: var(--swiper-centered-offset-after);
  min-width: 1px;
  width: 100%;
}
.swiper-lazy-preloader {
  border: 4px solid #007aff;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  height: 42px;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  width: 42px;
  z-index: 10;
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s linear infinite;
  animation: swiper-preloader-spin 1s linear infinite;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
  align-items: center;
  color: var(--swiper-theme-color);
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
  display: flex;
  height: 44px;
  height: var(--swiper-navigation-size);
  justify-content: center;
  margin-top: -22px;
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  position: absolute;
  top: 50%;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 27px;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  z-index: 10;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: auto;
  opacity: 0.35;
  pointer-events: none;
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  cursor: auto;
  opacity: 0;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 44px;
  font-size: var(--swiper-navigation-size);
  font-variant: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: auto;
  right: 10px;
  right: var(--swiper-navigation-sides-offset, 10px);
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}
.swiper-button-lock {
  display: none;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.3s;
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 8px;
  bottom: var(--swiper-pagination-bottom, 8px);
  left: 0;
  top: auto;
  top: var(--swiper-pagination-top, auto);
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  font-size: 0;
  overflow: hidden;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  position: relative;
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  background: #000;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  border-radius: 50%;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  display: inline-block;
  height: 8px;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  opacity: 0.2;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  width: 8px;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
}
button.swiper-pagination-bullet {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}
.swiper-pagination-bullet-active {
  background: var(--swiper-theme-color);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  opacity: 1;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: auto;
  left: var(--swiper-pagination-left, auto);
  right: 8px;
  right: var(--swiper-pagination-right, 8px);
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  display: block;
  margin: 6px 0;
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  display: inline-block;
  transition: top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, top 0.2s;
  transition: transform 0.2s, top 0.2s, -webkit-transform 0.2s;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 4px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: left 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, left 0.2s;
  transition: transform 0.2s, left 0.2s, -webkit-transform 0.2s;
}
.swiper-horizontal.swiper-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
:host(.swiper-horizontal.swiper-rtl)
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: right 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, right 0.2s;
  transition: transform 0.2s, right 0.2s, -webkit-transform 0.2s;
}
.swiper-pagination-fraction {
  color: inherit;
  color: var(--swiper-pagination-fraction-color, inherit);
}
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  background: var(
    --swiper-pagination-progressbar-bg-color,
    rgba(0, 0, 0, 0.25)
  );
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-theme-color);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  width: 100%;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 4px;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
  width: 100%;
}
.swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  height: 100%;
  left: 0;
  top: 0;
  width: 4px;
  width: var(--swiper-pagination-progressbar-size, 4px);
}
.swiper-pagination-lock {
  display: none;
}
@font-face {
  font-display: swap;
  font-family: GmarketSans;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: GmarketSans;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: GmarketSans;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: NexonLv1Gothic;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: NexonLv1Gothic;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: NexonLv1Gothic;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamThin.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraLight.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamExtraBold.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamHeavy.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: SCoreDream;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot);
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBlack.ttf)
      format("truetype");
}
.score1 {
  font-family: SCoreDream;
  font-weight: 100;
}
.nexon1 {
  font-family: NexonLv1Gothic;
  font-weight: 100;
}
.gmarket1 {
  font-family: GmarketSans;
  font-weight: 100;
}
.score2 {
  font-family: SCoreDream;
  font-weight: 200;
}
.nexon2 {
  font-family: NexonLv1Gothic;
  font-weight: 200;
}
.gmarket2 {
  font-family: GmarketSans;
  font-weight: 200;
}
.score3 {
  font-family: SCoreDream;
  font-weight: 300;
}
.nexon3 {
  font-family: NexonLv1Gothic;
  font-weight: 300;
}
.gmarket3 {
  font-family: GmarketSans;
  font-weight: 300;
}
.score4 {
  font-family: SCoreDream;
  font-weight: 400;
}
.nexon4 {
  font-family: NexonLv1Gothic;
  font-weight: 400;
}
.gmarket4 {
  font-family: GmarketSans;
  font-weight: 400;
}
.score5 {
  font-family: SCoreDream;
  font-weight: 500;
}
.nexon5 {
  font-family: NexonLv1Gothic;
  font-weight: 500;
}
.gmarket5 {
  font-family: GmarketSans;
  font-weight: 500;
}
.score6 {
  font-family: SCoreDream;
  font-weight: 600;
}
.nexon6 {
  font-family: NexonLv1Gothic;
  font-weight: 600;
}
.gmarket6 {
  font-family: GmarketSans;
  font-weight: 600;
}
.score7 {
  font-family: SCoreDream;
  font-weight: 700;
}
.nexon7 {
  font-family: NexonLv1Gothic;
  font-weight: 700;
}
.gmarket7 {
  font-family: GmarketSans;
  font-weight: 700;
}
.score8 {
  font-family: SCoreDream;
  font-weight: 800;
}
.nexon8 {
  font-family: NexonLv1Gothic;
  font-weight: 800;
}
.gmarket8 {
  font-family: GmarketSans;
  font-weight: 800;
}
.score9 {
  font-family: SCoreDream;
  font-weight: 900;
}
.nexon9 {
  font-family: NexonLv1Gothic;
  font-weight: 900;
}
.gmarket9 {
  font-family: GmarketSans;
  font-weight: 900;
}
:root {
  --color_body: #101010;
  --bg_section: #f6f8fd;
  --button_blue: #4857ec;
  --button_red: #f34;
  --button_green: #00c183;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
table,
td,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
table,
textarea {
  color: #101010;
  color: var(--color_body);
  font-family: -apple-system, BlinkMacSystemFont, Malgun Gothic, 맑은 고딕,
    helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}
li,
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
}
address,
em {
  font-style: normal;
}
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}
button,
fieldset,
img {
  border: 0;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 1280px;
}
.section.center > h3,
.section.center > p {
  text-align: center;
}
.section {
  padding: 120px 0;
}
.section > h3 {
  font-size: 50px;
}
.section > p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 60px;
}
.cont__title h2 {
  font-size: 5vw;
  font-weight: 700;
  padding: 5%;
  text-align: center;
  text-transform: uppercase;
}
.bg-blue {
  background-color: #f6f8fd;
  background-color: var(--bg_section);
}
.button-blue {
  background-color: #4857ec;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button-blue:hover {
  background-color: #1323bb;
}
.button-red {
  background-color: #f34;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button-red:hover {
  background-color: #c01;
}
.button-green {
  background-color: #00c183;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button-green:hover {
  background-color: #005b3e;
}
.icon-bg1 {
  padding-top: 70px;
  position: relative;
}
.icon-bg1:before {
  background-color: #d3f6ea;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 21.563h18.75V3.75H7.5c-.527.02-.967.205-1.318.557-.351.352-.537.791-.557 1.318v15.938ZM7.5 1.875h17.813c.273 0 .498.088.674.263.175.176.263.4.263.675V22.5a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.264H4.688l-.938 1.7V5.624c.02-1.055.386-1.939 1.099-2.651.713-.713 1.597-1.079 2.651-1.099Zm-.469 21.563c-.39.019-.718.16-.981.424-.264.264-.396.591-.396.982 0 .39.132.718.396.981.263.264.59.406.981.425h17.344v-2.813H7.031Zm0-1.875H26.25v4.687c-.02.527-.205.967-.557 1.318-.352.351-.791.537-1.318.557H7.031c-.937-.02-1.713-.337-2.329-.953-.614-.615-.932-1.391-.952-2.328.02-.938.337-1.714.952-2.329.616-.615 1.392-.933 2.33-.953ZM11.25 3.75v7.354l2.813-2.256 2.812 2.256V3.75H11.25ZM9.375 1.875h9.375v11.162c-.02.39-.2.669-.542.835-.342.166-.669.132-.981-.102l-3.165-2.52-3.164 2.52c-.312.234-.64.268-.981.102-.342-.166-.523-.444-.542-.835V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg1:hover:before {
  background-color: #a9edd6;
}
.icon-bg2 {
  padding-top: 70px;
  position: relative;
}
.icon-bg2:before {
  background-color: #e1f9d5;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15c1.602-.04 2.93-.586 3.984-1.64 1.055-1.055 1.602-2.383 1.641-3.985-.04-1.602-.586-2.93-1.64-3.984C17.93 4.336 16.601 3.789 15 3.75c-1.602.04-2.93.586-3.984 1.64C9.96 6.446 9.414 7.774 9.375 9.376c.04 1.602.586 2.93 1.64 3.984C12.07 14.414 13.399 14.961 15 15Zm0 1.875c-2.129-.059-3.896-.791-5.303-2.197C8.291 13.27 7.56 11.504 7.5 9.375c.059-2.129.791-3.896 2.197-5.303C11.104 2.667 12.871 1.934 15 1.875c2.129.059 3.896.791 5.302 2.197 1.407 1.407 2.14 3.174 2.198 5.303-.059 2.129-.791 3.896-2.198 5.303-1.406 1.406-3.173 2.138-5.302 2.197ZM15 15c.274 0 .498.088.674.263.176.176.264.4.264.675v7.5a.913.913 0 0 1-.264.674.913.913 0 0 1-.674.263.913.913 0 0 1-.674-.263.913.913 0 0 1-.264-.674v-7.5c0-.274.088-.499.264-.675A.913.913 0 0 1 15 15Zm-3.75 4.013v1.904c-1.7.294-3.057.68-4.072 1.157-1.016.478-1.534.933-1.553 1.363.059.605.962 1.215 2.71 1.83 1.748.616 3.97.943 6.665.982 2.696-.04 4.917-.366 6.665-.982 1.747-.614 2.65-1.225 2.71-1.83-.02-.43-.537-.885-1.552-1.363-1.016-.478-2.374-.863-4.073-1.157v-1.904c2.227.332 4.024.894 5.39 1.685 1.367.791 2.07 1.704 2.11 2.74-.078 1.328-1.177 2.431-3.296 3.31-2.12.879-4.77 1.338-7.954 1.377-3.184-.04-5.835-.498-7.954-1.377-2.119-.879-3.217-1.982-3.296-3.31.04-1.035.742-1.949 2.11-2.74 1.366-.791 3.163-1.353 5.39-1.685Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg2:hover:before {
  background-color: #c1f3a8;
}
.icon-bg3 {
  padding-top: 70px;
  position: relative;
}
.icon-bg3:before {
  background-color: #f6dce0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.127 25.078 3.955-1.318.704.322c1.601.821 3.34 1.231 5.215 1.231 3.184-.097 5.835-1.137 7.954-3.12 2.118-1.982 3.217-4.38 3.296-7.192-.078-2.813-1.177-5.21-3.296-7.193-2.12-1.982-4.771-3.022-7.954-3.12-3.184.098-5.835 1.138-7.954 3.12-2.119 1.983-3.217 4.38-3.296 7.193 0 1.016.176 2.022.528 3.018.352.996.87 1.934 1.552 2.812l.645.85-1.349 3.397ZM3.78 27.481c-.371.117-.689.034-.952-.25-.264-.283-.328-.61-.19-.981l1.699-4.278a12.711 12.711 0 0 1-1.817-3.325 10.59 10.59 0 0 1-.645-3.648c.078-3.222 1.328-6.03 3.75-8.422 2.422-2.393 5.547-3.648 9.375-3.765 3.828.117 6.953 1.372 9.375 3.765 2.422 2.392 3.672 5.2 3.75 8.422-.078 3.223-1.328 6.03-3.75 8.423-2.422 2.392-5.547 3.647-9.375 3.765-2.129 0-4.15-.47-6.065-1.407l-5.155 1.7ZM15 16.494a1.418 1.418 0 0 1-1.29-.747 1.513 1.513 0 0 1-.204-.747c0-.254.068-.503.205-.747A1.418 1.418 0 0 1 15 13.506c.43 0 .787.141 1.07.424.283.283.424.64.424 1.07 0 .43-.141.787-.424 1.07-.284.283-.64.424-1.07.424Zm5.625 0a1.418 1.418 0 0 1-1.29-.747 1.513 1.513 0 0 1-.204-.747c0-.254.068-.503.205-.747a1.418 1.418 0 0 1 1.289-.747c.43 0 .787.141 1.07.424.283.283.424.64.424 1.07 0 .43-.141.787-.424 1.07-.284.283-.64.424-1.07.424Zm-11.25 0a1.418 1.418 0 0 1-1.29-.747A1.513 1.513 0 0 1 7.882 15c0-.254.068-.503.205-.747a1.418 1.418 0 0 1 1.289-.747c.43 0 .787.141 1.07.424.283.283.424.64.424 1.07 0 .43-.141.787-.424 1.07-.284.283-.64.424-1.07.424Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg3:hover:before {
  background-color: #ecb3bc;
}
.icon-bg4 {
  padding-top: 70px;
  position: relative;
}
.icon-bg4:before {
  background-color: #d3d8fa;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 11.25v13.125h22.5V11.25H3.75Zm-.938-1.875h24.375c.274 0 .499.088.675.263.175.176.263.4.263.675v15a.913.913 0 0 1-.263.674.913.913 0 0 1-.674.263H2.813a.913.913 0 0 1-.675-.263.913.913 0 0 1-.263-.674v-15c0-.274.088-.499.263-.675a.913.913 0 0 1 .675-.263Zm1.876-3.75h20.625V7.5H4.688V5.625ZM7.5 1.875h15V3.75h-15V1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg4:hover:before {
  background-color: #a5aff5;
}
.icon-bg5 {
  padding-top: 70px;
  position: relative;
}
.icon-bg5:before {
  background-color: #dafbeb;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.58 18.75H3.75a.913.913 0 0 1-.674-.263.913.913 0 0 1-.264-.674V1.874H.938a.913.913 0 0 1-.675-.263A.913.913 0 0 1 0 .937C0 .664.088.44.263.263A.913.913 0 0 1 .937 0h26.25c.274 0 .499.088.675.263.175.176.263.4.263.674a.913.913 0 0 1-.263.675.913.913 0 0 1-.674.263h-1.875v15.938a.913.913 0 0 1-.264.674.913.913 0 0 1-.674.263h-5.83l3.252 5.625h-2.169l-3.252-5.625h-4.63l-3.251 5.625H6.326L9.58 18.75ZM23.437 1.875H4.688v15h18.75v-15ZM9.113 11.925a.98.98 0 0 1-.675.262.9.9 0 0 1-.659-.278.901.901 0 0 1-.278-.659.98.98 0 0 1 .263-.674L12.1 6.269l3.662 2.754 3.193-3.984c.235-.293.533-.415.894-.366a.851.851 0 0 1 .732.585c.127.342.073.66-.161.953l-4.307 5.39-3.838-2.871-3.162 3.194Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg5:hover:before {
  background-color: #acf6d2;
}
.icon-bg6 {
  padding-top: 70px;
  position: relative;
}
.icon-bg6:before {
  background-color: #ffd6fd;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.832 7.5c-.976 0-1.709.04-2.197.117a3.822 3.822 0 0 0-1.26.41 3.202 3.202 0 0 0-1.348 1.349 3.821 3.821 0 0 0-.41 1.26c-.079.488-.118 1.22-.118 2.197v8.086c0 .977.04 1.71.117 2.198.078.488.215.908.41 1.26a3.202 3.202 0 0 0 1.349 1.348c.352.196.772.332 1.26.41.488.079 1.22.118 2.197.118h4.336c.977 0 1.71-.04 2.198-.117a3.82 3.82 0 0 0 1.26-.411 3.202 3.202 0 0 0 1.348-1.348c.196-.352.333-.772.41-1.26.079-.488.118-1.22.118-2.198v-8.086c0-.976-.04-1.709-.117-2.197a3.821 3.821 0 0 0-.41-1.26 3.202 3.202 0 0 0-1.35-1.348 3.82 3.82 0 0 0-1.26-.41c-.487-.079-1.22-.118-2.197-.118h-4.335Zm0-1.875h4.336c1.212 0 2.13.063 2.755.19s1.152.317 1.582.571a4.992 4.992 0 0 1 2.11 2.11c.253.43.444.957.57 1.582.128.625.19 1.543.19 2.755v8.085c0 1.212-.063 2.13-.19 2.755-.126.625-.317 1.152-.57 1.582a4.992 4.992 0 0 1-2.11 2.11c-.43.253-.957.444-1.582.57-.625.128-1.543.19-2.755.19h-4.335c-1.212 0-2.13-.063-2.755-.19-.625-.126-1.152-.317-1.582-.57a4.992 4.992 0 0 1-2.11-2.11c-.253-.43-.444-.957-.57-1.582-.128-.625-.191-1.543-.191-2.755v-8.085c0-1.212.063-2.13.19-2.755s.317-1.152.571-1.582a4.992 4.992 0 0 1 2.11-2.11c.43-.253.957-.444 1.582-.57.625-.128 1.543-.191 2.755-.191ZM15 9.375c.625 0 .938.313.938.938v3.75c0 .624-.313.937-.938.937s-.938-.313-.938-.938v-3.75c0-.624.313-.937.938-.937Zm.938-2.813a.913.913 0 0 1-.264.675A.913.913 0 0 1 15 7.5a.913.913 0 0 1-.674-.263.913.913 0 0 1-.264-.675V4.688a.913.913 0 0 0-.263-.674.913.913 0 0 0-.674-.263h-2.813a.913.913 0 0 1-.674-.263.913.913 0 0 1-.263-.675c0-.273.088-.498.263-.674a.913.913 0 0 1 .675-.263h2.812c.8.02 1.465.293 1.992.82.528.528.801 1.192.82 1.993v1.875Z' fill='%2308080A' fill-opacity='.96'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s;
  width: 60px;
}
.icon-bg6:hover:before {
  background-color: #ffa3fb;
}
.blind {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.blind,
.ir {
  overflow: hidden;
}
.ir {
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
#skip {
  position: relative;
  z-index: 100000;
}
#skip a {
  background-color: #101010;
  background-color: var(--color_body);
  color: #fff;
  left: -400px;
  padding: 20px 40px;
  position: absolute;
  top: 5px;
}
#skip a:active,
#skip a:focus {
  left: 5px;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mt0 {
  margin-bottom: 0 !important;
}
.mt10 {
  margin-bottom: 10px !important;
}
.mt20 {
  margin-bottom: 20px !important;
}
.mt30 {
  margin-bottom: 30px !important;
}
.mt40 {
  margin-bottom: 40px !important;
}
.mt50 {
  margin-bottom: 50px !important;
}
.mt60 {
  margin-bottom: 60px !important;
}
.mt70 {
  margin-bottom: 70px !important;
}
.mt80 {
  margin-bottom: 80px !important;
}
.mt90 {
  margin-bottom: 90px !important;
}
.mr0 {
  margin-bottom: 0 !important;
}
.mr10 {
  margin-bottom: 10px !important;
}
.mr20 {
  margin-bottom: 20px !important;
}
.mr30 {
  margin-bottom: 30px !important;
}
.mr40 {
  margin-bottom: 40px !important;
}
.mr50 {
  margin-bottom: 50px !important;
}
.mr60 {
  margin-bottom: 60px !important;
}
.mr70 {
  margin-bottom: 70px !important;
}
.mr80 {
  margin-bottom: 80px !important;
}
.mr90 {
  margin-bottom: 90px !important;
}
.ml0 {
  margin-bottom: 0 !important;
}
.ml10 {
  margin-bottom: 10px !important;
}
.ml20 {
  margin-bottom: 20px !important;
}
.ml30 {
  margin-bottom: 30px !important;
}
.ml40 {
  margin-bottom: 40px !important;
}
.ml50 {
  margin-bottom: 50px !important;
}
.ml60 {
  margin-bottom: 60px !important;
}
.ml70 {
  margin-bottom: 70px !important;
}
.ml80 {
  margin-bottom: 80px !important;
}
.ml90 {
  margin-bottom: 90px !important;
}
.header__inner {
  text-align: center;
}
.header__inner .header__logo {
  width: 100%;
}
.header__inner .header__logo a {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  margin: 5px 5px 0;
  padding: 5px 5px 0;
  text-transform: uppercase;
}
.header__inner .header__logo a em {
  font-weight: 500;
  text-transform: lowercase;
}
.header__inner .header__nav {
  width: 100%;
}
.header__inner .header__nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
.header__inner .header__nav ul li a {
  display: inline-block;
  margin: 2px;
  padding: 10px;
  position: relative;
}
.header__inner .header__nav ul li a:before {
  background-color: #101010;
  background-color: var(--color_body);
  bottom: 4px;
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease;
  width: calc(100% - 20px);
}
.header__inner .header__nav ul li a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.slider__inner {
  position: relative;
}
.slider__inner .slider__img .slider .text h3 {
  font-size: 110px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 40px;
  padding-top: 100px;
  text-transform: uppercase;
}
.slider__inner .slider__img .slider .text p {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 50px;
}
.slider__inner .slider__img .slider .text .more {
  font-size: 18px;
  margin-bottom: 100px;
}
.slider__inner .slider__img .slider .img {
  background-image: url(/assets/images/slider/sliderIBg.png);
  background-size: cover;
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
}
.slider__inner .slider__img .slider .img img:first-child {
  position: absolute;
  width: 300px;
}
.slider__inner .slider__img .slider .img img:nth-child(2) {
  bottom: 140px;
  position: absolute;
  right: 0;
  width: 300px;
}
.slider__inner .slider__img .slider .img img:nth-child(3) {
  bottom: 10px;
  left: 30px;
  position: absolute;
  width: 300px;
}
.slider__inner .slider__img .slider .circle span {
  border-radius: 50%;
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 20px;
}
.slider__inner .slider__img .slider .circle span:first-child {
  background-color: #4857ec;
  background-color: var(--button_blue);
  height: 10px;
  left: 50%;
  width: 10px;
}
.slider__inner .slider__img .slider .circle span:nth-child(2) {
  background-color: #f34;
  background-color: var(--button_red);
  height: 40px;
  left: -10%;
  top: 20%;
  width: 40px;
}
.slider__inner .slider__img .slider .circle span:nth-child(3) {
  background-color: #00c183;
  background-color: var(--button_green);
  left: 100%;
  top: 10%;
}
.slider__inner .slider__img .slider .circle span:nth-child(4) {
  background-color: #f34;
  background-color: var(--button_red);
  height: 10px;
  left: 17%;
  top: -10%;
  width: 10px;
}
.slider__inner .slider__img .slider .circle span:nth-child(5) {
  background-color: #4857ec;
  background-color: var(--button_blue);
  height: 30px;
  left: 90%;
  top: 80%;
  width: 30px;
}
.slider__inner .slider__btn > a {
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 0.3s;
  width: 22px;
}
.slider__inner .slider__btn > a:hover {
  opacity: 0.5;
}
.slider__inner .slider__btn .left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAoCAYAAAD6xArmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJkSURBVHgBpZc/ctpQEMZ3JWakEiZ2anIDcoJAJ6eJ3RgmDfEJgrt0wAlinyByk8Fp4iqhs28QcoLQGw8qpQS9za40wsagpyfxFYz+fPpp9d7uvgfCnvJOH4aI1CKAOiBcTScHvlxHqKi375ctWqkvxNCNG4Sj6bcX40pg73TRR8QLAqrvuu9GdqM0WKD8nb7WhP9eWVAK+jAshLLc0A2MwSmURgZW/+amEdQMjCWgOHcj61yOCiM2hSLhjKGvJdpCsHGkCHfOX6uTQdNLuVCD2U8Blz+vDwbPr9u7zJL8QDDhQxe0VBpPrw8/5bzwWaS9ZRNI3XIJNaEIOjkc5d5+enJ8vKyHjvq1L1S0MXmRo4bFUGk0eqhoncdeb/GBiAZaJqeUE1laz+P7wXRccQ5odaaTxhwMlA6FUn0dFAGDMtDkmTTa+I/eBWdZAzcVRxy3Czx+WWgCRoJ3WgfSFVSQQdtczaGCLF6zfusttSZUAbth7YJzLsgzoLI+S0VCWbC0Oo76Ms8gq3DkrIZQFiw/EnVSAHlwwMFR996o4jKtm5DXu29zeLcaY4C26vz4+nIGBlpnBTeWO2naeUbZ6ajY/p4UVJmIM3ndhUTd1jxi1DO28xjtM914Jz2FG1ZR5FtgicSy4xNdCprAd1aeTBAhnINWenhuSSeNh5cgqAgv3BQedRe8q4SPetf2hBrtNnnZ8jnf+kVw451QJje0B7yKFBQGNUN3ta5OI3DaT6wTfRoKG9+UAouS8eNx1MH5q+qlwSZw/uswqwTegKPaXLJ4x8lVO3483UOSv6jiFlkUSBN7eu8/1f0OgzsnqbsAAAAASUVORK5CYII=);
  left: 20px;
}
.slider__inner .slider__btn .right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAoCAYAAAD6xArmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJdSURBVHgBrZY7cttADIaBpSZkaY8fNX0DHkHu5FROE3vSWLmBcgJLJ7BzAimNx0ljVZE7JSeIcgPVcTxiSc2YRBZLMaRlch8c/9WKC30EASywCFvqnT90McMdEt7i/nZ3CS2FJXAVAqVjuexW9ieA3qjNC0S5TC+3oKw+UDZXL20LRsKo3oTCNvD/YAKKm83c4WUokH7qTSnELLs7PV3tgAs4SDrXkr7UopGixE+vwAU8ne7GgOLYBJfqn5w9GOGi+kOVlQWcAAe994+XOhuse5jXdDZXSdO/oX//bf+LNdgWLv8co5cdf785XIAt2BauwibDt306BWhkF3MqWgFYg+3h0N2uFG0oqnr74U9EqZgTQPMBQZIhOfjBS6PHhfIE4UhrRGJcnExrMGv2de9afuJnDTlMgqcBr6xDUYg9WvuZDAnVdkMuQX/tHTmDWTxlZOOYNxogjZxCUaqz1G4TRC3BT6HJoiUYL/TbOHWOce/8r5yDMNaDvSMnj7l3yNmo78UycXxaO+AA5YYky0wzmvjYexNeWXnMtcvzztifN97y0srjxM/k51OkZcoTObvdnxS/jeB8BFFfb4VLfy2G1SfCCEUaggHKbVUNYxuwDRQBY+GJd3V3u9pQnJw9XsnsD8AgwvTT7GZvUbf3DMzZlxeSOwntgkmqAg4nTdudKnT9hgcnaLNfQg+GWpPS0+yXsU4toSyVvCTg+9jrQZXpJq6r14SyOkkgpy6ZoNlHXaLqJIIEGi/cXKdtoAqcX1/pxViX7XGBHl+d3KG5UxupBg5wgQgxEf12iWed/gEV6Rc0eyc39QAAAABJRU5ErkJggg==);
  right: 20px;
}
.slider__inner .slider__dot {
  bottom: -80px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__inner .slider__dot a {
  background-color: #f34;
  border: 4px solid #f34;
  border-radius: 50%;
  box-shadow: 0 0 0 3px transparent;
  display: inline-block;
  height: 16px;
  margin: 0 5px;
  width: 16px;
}
.slider__inner .slider__dot a.active {
  background-color: #fff;
  border-width: 4px;
  box-shadow: 0 0 0 3px #f34;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
}
.intro__title {
  width: 33%;
}
.intro__title span {
  background-color: #f34;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px 30px 2px;
  text-transform: uppercase;
}
.intro__title h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}
.intro__title p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.intro__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 66%;
}
.intro__desc > div {
  margin-bottom: 40px;
  width: 48%;
}
.intro__desc > div h4 {
  font-size: 24px;
  margin-bottom: 15px;
}
.intro__desc > div p {
  font-weight: 300;
  line-height: 1.6;
}
.intro__desc > div:nth-child(3),
.intro__desc > div:nth-child(4) {
  margin-bottom: 0;
}
.member__inner {
  display: flex;
  justify-content: space-between;
}
.member__inner .member {
  position: relative;
  width: 32%;
}
.member__inner .member .member__header img {
  width: 100%;
}
.member__inner .member .member__body {
  background: #000000b4;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 15px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}
.member__inner .member .member__body h4 {
  font-size: 22px;
}
.member__inner .member .member__body a {
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
}
.port__inner .port__btn {
  margin-bottom: 30px;
}
.port__inner .port__btn ul {
  display: flex;
  justify-content: center;
}
.port__inner .port__btn ul li a {
  border: 1px solid #44506f;
  border-radius: 40px;
  color: #44506f;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 20px;
}
.port__inner .port__btn ul li.active a {
  background-color: #9babd3;
  border-color: #9babd3;
  color: #fff;
}
.port__inner .port__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.port__inner .port__cont .port {
  margin-bottom: 30px;
  width: 32.2222%;
}
.port__inner .port__cont .port .port__body {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.port__inner .port__cont .port .port__body .pic {
  margin-right: 10px;
}
.port__inner .port__cont .port .port__body .title h4 {
  color: #101010;
  color: var(--color_body);
  font-size: 20px;
}
.port__inner .port__cont .port .port__body .title span {
  color: #2c3a4b;
  font-size: 16px;
}
.port__inner .port__cont .port img {
  border-radius: 10px;
  width: 100%;
}
.port__inner .port__cont .port:nth-child(4),
.port__inner .port__cont .port:nth-child(5),
.port__inner .port__cont .port:nth-child(6) {
  margin-bottom: 0;
}
.youtube__wrap {
  overflow: hidden;
}
.youtube__inner {
  height: 560px;
}
.youtube__inner .youtube__text h3 {
  font-size: 50px;
  margin-bottom: 40px;
}
.youtube__inner .youtube__text p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}
.youtube__inner .youtube__text a {
  border-radius: 50px;
}
.youtube__inner .youtube__item {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  position: absolute;
}
.youtube__inner .youtube__item > div {
  margin-right: 20px;
  width: 400px;
}
.youtube__inner .youtube__item > div img {
  border-radius: 10px;
  width: 100%;
}
.unsplash__wrap {
  overflow: hidden;
}
.unsplash__inner {
  height: 560px;
}
.unsplash__inner .unsplash__text h3 {
  font-size: 50px;
  margin-bottom: 40px;
}
.unsplash__inner .unsplash__text p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}
.unsplash__inner .unsplash__text a {
  border-radius: 50px;
}
.unsplash__inner .unsplash__item {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  position: absolute;
}
.unsplash__inner .unsplash__item > div {
  margin-right: 20px;
  width: 400px;
}
.unsplash__inner .unsplash__item > div img {
  border-radius: 10px;
  width: 100%;
}
.movie__wrap {
  overflow: hidden;
}
.movie__inner {
  height: 780px;
}
.movie__inner .movie__text h3 {
  font-size: 50px;
  margin-bottom: 40px;
}
.movie__inner .movie__text p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}
.movie__inner .movie__text a {
  border-radius: 50px;
}
.movie__inner .movie__item {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  position: absolute;
}
.movie__inner .movie__item > div {
  margin-right: 20px;
  width: 300px;
}
.movie__inner .movie__item > div img {
  border-radius: 10px;
  width: 100%;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__inner .footer__text {
  width: 20%;
}
.footer__inner .footer__text h5 {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__inner .footer__text p {
  color: grey;
  font-size: 16px;
}
.footer__inner .footer__text p a {
  display: inline-block;
  padding-top: 5px;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__inner .footer__text .sns li {
  display: inline;
}
.footer__inner .footer__text .sns li a {
  background-color: #fff;
  background-image: url(/assets/images/footer/footerIcon.svg);
  border-radius: 45px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.footer__inner .footer__text .sns li:nth-child(2) a {
  background-position: -45px 0;
}
.footer__inner .footer__text .sns li:nth-child(3) a {
  background-position: -90px 0;
}
.footer__inner .footer__text .sns li:nth-child(4) a {
  background-position: -135px 0;
}
.footer__inner .footer__menu {
  display: flex;
  width: 70%;
}
.footer__inner .footer__menu > div {
  width: 25%;
}
.footer__inner .footer__menu > div h4 {
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__inner .footer__menu > div a {
  color: grey;
  font-size: 14px;
  line-height: 1.8;
  transition: all 0.3s;
}
.footer__inner .footer__menu > div a:hover {
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__inner .footer__right {
  border-top: 1px solid #e5e5e5;
  color: grey;
  font-size: 14px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=main.5103bcac.css.map*/
